xsd/CTISchema/Events/CTISubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright © 2017 BroadSoft Inc.               -->
<!-- ********************************************************************** -->
<!-- CTISubscription  X M L  S C H E M A                                    -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the Subscription level Services.  -->
<!-- ********************************************************************** -->


<xs:schema xmlns="http://schema.broadsoft.com/CTI"
  targetNamespace="http://schema.broadsoft.com/CTI" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsp="http://schema.broadsoft.com/XspXMLInterface" xmlns:xsi="http://schema.broadsoft.com/xsi"
  elementFormDefault="unqualified" version="1.0">


  <xs:import namespace="http://schema.broadsoft.com/XspXMLInterface"
    schemaLocation="../../XSPXMLSchema/XspXMLInterface.xsd" />

  <xs:import namespace="http://schema.broadsoft.com/xsi"
    schemaLocation="../../XSISchema/Events/XSISubscription.xsd" />
  
  
  <xs:element name="AddEnterpriseSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription against a 
        EnterpriseId. A successful subscription is owned by the 
        Authenticated User(provided by credentials) on the 
        EnterpriseId (as the target user). 
        
        The request is not successful if the EnterpriseId does 
        not fall under the scope of Authenticated User.
        
        If a AddEnterpriseSubscriptionRequest is received but 
        a matching subscription already exists, then the existing 
        subscription is terminated and the new subscription for 
        this request is added.  A matching subscription is one
        for which all of the following pieces of information 
        are identical:
        - authenticated user(credentials) of the request
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
      </xs:documentation>
    </xs:annotation>     
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Add Enterprise Subscription Request.
                  I.e. "/-context-/v2.0/enterprise/%enterpriseId%/"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enterpriseId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddGroupSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription against an 
        Enterprise/ServiceProvider GroupId. A successful subscription is 
        owned by the Authenticated User(provided by credentials) on the 
        GroupId (as the target user).  
        
        The request is not successful if the GroupId does not fall 
        under the scope of Authenticated User.        

        If a AddGroupSubscriptionRequest is received 
        but a matching subscription already exists, then the 
        existing subscription is terminated and the new subscription 
        for this request is added.  A matching subscription is one
        for which all of the following pieces of information are 
        identical:
        - authenticated user(credentials) of the request
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
        
        Change History:
        19.0 - Added.      
      </xs:documentation>
    </xs:annotation>         
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Add Group Subscription Request.
                  I.e. "/-context-/v2.0/serviceprovider/%enterpriseServiceProviderId%/group/%groupId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enterpriseServiceProviderId" type="xs:string">
                     <xs:annotation>
						<xs:documentation>
						This element is used to indicate either the service provider or enterprise identifier
						</xs:documentation>
					</xs:annotation>
				   </xs:element>
                  <xs:element name="groupId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddServiceProviderSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription against 
        a ServiceProviderId. A successful subscription is owned 
        by the Authenticated User(provided by credentials) on the 
        ServiceProviderId (as the target user).  
        
        The request is not successful if the ServiceProviderId 
        does not fall under the scope of Authenticated User.        

        If a AddServiceProviderSubscriptionRequest is received but 
        a matching subscription already exists, then the existing 
        subscription is terminated and the new subscription for 
        this request is added.  A matching subscription is one
        for which all of the following pieces of information 
        are identical:
        - authenticated user(credentials) of the request
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
      </xs:documentation>
    </xs:annotation>      
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI AddService Provider Subscription Request.
                  I.e. "/-context-/v2.0/serviceProvider/%serviceProviderId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="serviceProviderId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSystemSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription across an 
        entire BroadWorks system. A successful subscription is owned 
        by the Authenticated User(provided by credentials).  
        
        The request is not successful if the Authenticated User is 
        not an SystemAdmin or provisioning Admin.        

        If a AddSystemSubscriptionRequest is received but a matching 
        subscription already exists, then the existing subscription 
        is terminated and the new subscription for this request is added.  
        A matching subscription is one for which all of the following 
        pieces of information are identical:
        - authenticated user(credentials) of the request
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
      </xs:documentation>
    </xs:annotation>          
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Add System Subscription Request.
                  I.e. "/-context-/v2.0/system"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params" />
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddUserSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription against a 
        normal Subscriber. A successful subscription is owned by the 
        Authenticated User(provided by credentials) on the Subsciber 
        (as the target user).          
        
        The request is not successful if the Subscriber does not fall 
        under the scope of Authenticated User.                
        
        An initial notification is sent for a successful 
        AddUserSubscriptionRequest, if applicable.
        
        If a AddUserSubscriptionRequest is received but a matching 
        subscription already exists, then the existing subscription is 
        terminated and the new subscription for this request is added.  
        A matching subscription is one for which all of the following 
        pieces of information are identical:
        - authenticated user(credentials) of the request
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
      </xs:documentation>
    </xs:annotation>    
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Add User Subscription Request.
                  I.e. "/-context-/v2.0/user/%userId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="userId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="AddUserSubIdSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        The request is used to add a new subscription against a 
        normal subscriber, with a particular sub-identifier. A successful subscription is owned by 
        the Authenticated User(provided by credentials) on the 
        Subsciber SubId (as the target user), with sub-identifier.          
        
        The request is not successful if the Subscriber does not fall 
        under the scope of Authenticated User.                
        
        An initial notification is sent for a successful 
        AddUserSubIdSubscriptionRequest, if applicable.
        
        If a AddUserSubIdSubscriptionRequest is received but a matching 
        subscription already exists, then the existing subscription is 
        terminated and the new subscription for this request is added.  
        A matching subscription is one for which all of the following 
        pieces of information are identical:
        - authenticated user(credentials) of the request
        - subId element of the Request URI
        - userid element of the Request URI        
        - extApplicationId element of the xsi:Subscription
        - Event package for the xsi:Subscription  
        
        Returns a xsp:Response with xsi:Subscription (having information for 
        SubscripitonId and expires for the newly created Subscription).   
        
        Change History:
        R19.0 - Added
      </xs:documentation>
    </xs:annotation>    
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Add User Subscription Request.
                  I.e. "/-context-/v2.0/user/%userId%"/subId/%targetSubId%
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="userId" type="xs:string" />
                  <xs:element name="targetSubId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription">
                        <xs:annotation>
                          <xs:documentation>
                            Represents a new Subscription.
                            Only the basic elements relevant 
                            for a new Subscription should be provided.
                            
                            The following elements are ignored and should 
                            not be provided with this request:
                            - subscriptionId
                            - subscriberId
                            - targetIdType
                            - targetGrpParentId
                            - targetId
							- targetSubId
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to modify an existing Subscription.
        It is used to refresh a Susbcription prior to its expiration.
        Currently it modifies only the Expiration value of the Subscription.
        
        The expiration value must be within the range configured in the
        system. If the provided value exceeds the maximum allowed value,
        then the expiration value is set to the maximum allowed value. If
        the provided expiration value is less than 3600 (1 hour), then
        the value is set to "3600".
        
        Returns a xsp:Response with xsi:Channel (having information for 
        ChannelId and expires for the updated Channel).
      </xs:documentation>
    </xs:annotation>    
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Update Subscription Request.
                  I.e. "/-context-/v2.0/subscription/%subscriptionId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriptionId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:Subscription" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to delete a single subscription.
        A SubscriptionTerminatedNotification is sent for the
        subscription deleted by a successful SubscriptionDeleteRequest
        
        Returns a generic xsp:Response with EmptyPayload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Delete Subscription Request.
                  I.e. "/-context-/v2.0/subscription/%subscriptionId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="DELETE" />
            <xs:element name="version" type="xs:token" />              
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriptionId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetSingleSubscriptionRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to request the details of the
        specified subscription.
        
        Returns a xsp:Response with xsi:Subscription as Payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Get Subscription Request.
                  I.e. "/-context-/v2.0/subscription/%subscriptionId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />                          
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriptionId" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetSubscriptionsRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        SubscriptionGetListRequest is used to request the details of all the
        subscriptions that match the parameters specified in the request.
        
        Returns a xsp:Response with xsi:SubscriptionList as Payload.
        
        Change History:
        19.0 - Added targetSubId and extAppId
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Get Subscriptions Request.
                  I.e. "/-context-/v2.0/subscription?%subscriberId%&amp;%targetId%&amp;%event%&amp;%targetGrpParentId%&amp;%targetEntityType%&amp;%targetSubId%&amp;%extAppId%"
                  where -context- corresponds to the application context of the Xsi-Events web application (e.g. com.broadsoft.xsi-events).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />                          
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberId" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The user ID of the user or administrator that owns the
                        subscriptions to retrieve.  If not present, then all
                        subscriptions owned by a user in the authorized user's 
                        scope are retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="targetEntityType" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The type(User, Group,ServiceProvider, Enterprise or system)  
                        of the target of the subscriptions to retrieve.  
                        If not present, then all subscriptions owned 
                        by a user in the authorized user's scope are 
                        retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>                   
                  <xs:element name="targetGrpParentId" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The Enterprise or ServiceProviderId of the target
                        Group of subscriptions to retrieve. 
                        This is required only when targetEntityType is Group.
                        If not present, then all subscriptions owned 
                        by a user in the authorized user's scope are 
                        retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="targetId" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The targetId of the subscriptions to retrieve.  
                        This can be UserId, GroupId or SeriviceProviderId.
                        If not present, then all subscriptions owned 
                        by a user in the authorized user's scope are 
                        retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="targetSubId" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The targetSubId of the subscriptions to retrieve.  
                        Only supported by some event package. 
                        If not present, then all subscriptions owned 
                        by a user in the authorized user's scope are 
                        retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="extAppId" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The applicationId of the subscriptions to retrieve.                           
                        If not present, then all subscriptions owned 
                        by a user in the authorized user's scope are 
                        retrieved subject to any specified parameters. 
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="event" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        The event package of the subscriptions to retrieve.  If not
                        present, then all subscriptions are retrieved subject to any
                        specified parameters.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>                                                                   
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>	