xsd/CTISchema/Services/CTIServices.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright © 2017 BroadSoft Inc.               -->
<!-- ********************************************************************** -->
<!-- CTIServices  X M L  S C H E M A                                        -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the User Service Configuration    -->
<!-- Request.                                                               -->
<!-- ********************************************************************** -->


<xs:schema xmlns="http://schema.broadsoft.com/CTI"
  targetNamespace="http://schema.broadsoft.com/CTI" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsp="http://schema.broadsoft.com/XspXMLInterface" xmlns:xsi="http://schema.broadsoft.com/xsi"
  elementFormDefault="unqualified">


  <xs:import namespace="http://schema.broadsoft.com/XspXMLInterface"
    schemaLocation="../../XSPXMLSchema/XspXMLInterface.xsd" />

  <xs:import namespace="http://schema.broadsoft.com/xsi"
    schemaLocation="../../XSISchema/XSIDataTypes.xsd" />

  <xs:import namespace="http://schema.broadsoft.com/xsi"
    schemaLocation="../../XSISchema/Services/XSIServices.xsd" />



  <!-- **************************************************************-->
  <!--        Data Types For CallForwardingAlwaysReques              -->
  <!-- **************************************************************-->


  <xs:element name="GetCallForwardingAlwaysRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Call Forwarding Always service
        configuration of a subscriber.

        This request does not involve any call state or topology changes.


        Returns a generic xsp:Response with a
        xsi:CallForwardingAlways as payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding Always service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingAlways"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="ModifyCallForwardingAlwaysRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Call Forwarding Always service
        configuration of a subscriber. Call Forwarding Always (CFA)
        enables a subscriber to redirect all incoming calls
        unconditionally (that is, busy, idle, alerting, and so on) to
        another phone number. If activated, a subscriber must specify
        the forwarding number. Optionally, a ring splash (500 ms ring
        burst) can be configured to the subscriber’s device each time a
        call is forwarded.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with an empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding Always service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingAlways"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:CallForwardingAlways" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- **************************************************************-->
  <!--
    Data Types For CallForwardingNoAnswerRequest
  -->
  <!-- **************************************************************-->

  <xs:element name="GetCallForwardingNoAnswerRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Call Forwarding No Answer (CFNA) service
        configuration of a subscriber.

        This request does not involve any call state or topology changes.

        Returns a xsp:Response with a xsi:CallForwardingNoAnswer
        as payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding No Answer service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingNoAnswer"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyCallForwardingNoAnswerRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Call Forwarding No Answer
        service configuration of a subscriber. Call Forwarding No Answer
        (CFNA) enables a subscriber to redirect all unanswered incoming
        calls to another phone number. A call is considered unanswered
        if it is in the Alerting state for a configured duration
        (specified in number of localized ringback duration).The maximum
        number of rings is 20 (inclusive).

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with an empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding No Answer service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingNoAnswer"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:CallForwardingNoAnswer" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- **************************************************************-->
  <!--        Data Types For CallForwardingBusyRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetCallForwardingBusyRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Call Forwarding Busy (CFB) service
        configuration of a subscriber.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with a
        xsi:CallForwardingBusy as payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding Busy service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingBusy"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="ModifyCallForwardingBusyRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Call Forwarding Busy service
        configuration of a subscriber. Call Forwarding Busy (CFB)
        enables a subscriber to redirect incoming calls to another phone
        number when the subscriber is busy. A subscriber is considered
        busy when there are too many active calls or a service makes the
        subscriber appears busy to the caller (for example, services
        such as Do Not Disturb or Selective Call Rejection).

        This request does not involve any call state or topology changes.


        Returns a generic xsp:Response with an empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Call Forwarding Busy service 
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/CallForwardingBusy"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:CallForwardingBusy" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- **************************************************************-->
  <!--        Data Types For HotelingGuestRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetHotelingGuestRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Hoteling Guest service configuration of
        a subscriber.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with a xsi:HotelingGuest
        as payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Hoteling Guest service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/HotelingGuest"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyHotelingGuestRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Hoteling Guest configuration.
        The subscriber must have the Hoteling Guest service. This
        request is used to establish and delete the association between
        the Hoteling Guest and its Host.

        The subscriber Hoteling Guest configuration specifies:
        • if the subscriber can be associated with a host subscriber account
        • if the subscriber is currently associated with a host
        • if there is a time limit to a subscriber association

        The associate between the guest and the subscriber is done through this
        request.

        This request does not involve any call state or topology changes.


        Returns a generic xsp:Response with an empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Hoteling Guest service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/HotelingGuest"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:HotelingGuest" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- **************************************************************-->
  <!--        Data Types For HotelinghostListRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetHotelingHostsRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get for a subscriber the list of available
        Hoteling Host endpoints to use with the Hoteling Guest service

        This request does not involve any call state or topology
        changes.

        Returns a generic xsp:Response with a list of xsi:AvailableHotelingHosts as a payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Hoteling Hosts directory
                  I.e. "/-context-/v2.0/user/%subscriberid%/directories/hotelinghosts"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- **************************************************************-->
  <!--        Data Types For FlexibleSeatingGuestRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetFlexibleSeatingGuestRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Flexible Seating Guest service configuration of
        a subscriber.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with a xsi:FlexibleSeatingGuest
        as payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Flexible Seating Guest service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/FlexibleSeatingGuest"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyFlexibleSeatingGuestRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Flexible Seating Guest configuration.
        The subscriber must have the Flexible Seating Guest service. This
        request is used to establish and delete the association between
        the FlexibleSeating Guest and its Host.

        The subscriber Flexible Seating Guest configuration specifies:
        • if the subscriber can be associated with a host subscriber account
        • if the subscriber is currently associated with a host
        • if there is a time limit to a subscriber association

        The associate between the guest and the subscriber is done through this
        request.

        This request does not involve any call state or topology changes.


        Returns a generic xsp:Response with an empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Flexible Seating Guest service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/FlexibleSeatingGuest"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:FlexibleSeatingGuest" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- **************************************************************-->
  <!--        Data Types For FlexibleSeatingHostListRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetFlexibleSeatingHostsRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get for a subscriber the list of available
        Flexible Seating Host endpoints to use with the Flexible Seating Guest service

        This request does not involve any call state or topology
        changes.
 
        Returns a generic xsp:Response with a list of xsi:AvailableFlexibleSeatingHosts as a payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Flexible Seating Hosts directory
                  I.e. "/-context-/v2.0/user/%subscriberid%/directories/flexibleseatinghosts"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- **************************************************************-->
  <!--        Data Types For DoNotDisturbRequest              -->
  <!-- **************************************************************-->

  <xs:element name="GetDoNotDisturbRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the Do Not Disturb service configuration of
        a subscriber.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with a lis of xsi:DoNotDisturb as
        a payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Do Not Disturb service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/DoNotDisturb"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyDoNotDisturbRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to set or modify the Do Not Disturb service (DNS).
        The DND) service allows subscriber to set their status as
        unavailable.

        This request does not involve any call state or topology changes.

        Returns a generic xsp:Response with a lis of xsi:DoNotDisturb as
        a payload.
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the XSI Do Not Disturb service
                  I.e. "/-context-/v2.0/user/%subscriberid%/services/DoNotDisturb"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:DoNotDisturb" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>