xsd/CTISchema/Collaborate/CTICollaborateRoom.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright © 2017 BroadSoft Inc.               -->
<!-- ********************************************************************** -->
<!-- CTIRoutePoint  X M L  S C H E M A                                      -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the Route Point Services.         -->
<!-- ********************************************************************** -->

<xs:schema xmlns="http://schema.broadsoft.com/CTI"
  targetNamespace="http://schema.broadsoft.com/CTI" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsp="http://schema.broadsoft.com/XspXMLInterface" xmlns:xsi="http://schema.broadsoft.com/xsi"
  elementFormDefault="unqualified" version="1.0">


  <xs:import namespace="http://schema.broadsoft.com/XspXMLInterface"
    schemaLocation="../../XSPXMLSchema/XspXMLInterface.xsd" />
  <xs:import namespace="http://schema.broadsoft.com/xsi"
    schemaLocation="../../XSISchema/CollaborateRoom/XSICollaborateRoom.xsd" />


  <xs:element name="GetCollaborateRoomRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get details of a Collaborate Room. 

        Returns a xsp:Response with xsi:CollaborateRoom.
        
        Change History:
        21.0 - Added.   
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="CollaborateRoomLockRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>        
        This request locks a specified active Collaborate Room. 
        Once the room is locked, no participant can join 
        the room by dialing into the room, or using 
        the Outgoing Dial request. 
        
        Returns a generic xsp:Response with empty payload.
        
        Change History:
        21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/lock"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="CollaborateRoomMuteCallRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>       
       This request mutes a particular participant on the call. 
       When muted, no audio stream is transmitted from the muted 
       participant associated with the call to the other participants. 
        
       This returns a generic xsp:Response with empty payload.
       
       Change History:
       21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/calls/%callid%/mute"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to mute.                        
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                              
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CollaborateRoomOutgoingDialRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>   
        This request is used to originate a call session from 
        the Collaborate Room to the specified destination. 
        If the request is accepted, then BroadWorks initiates 
        a call to the target destination.              
        
        Returns a generic xsp:Response with empty payload.
        
        Change History:
        21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/outgoingdial?%address%"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="address" type="xsi:Address">
                    <xs:annotation>
                      <xs:documentation>
                        Address of destination Phone no.
                        to call.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CollaborateRoomReleaseCallRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>       
       This request releases a particular participant’s call from the room. 
        
       This returns a generic xsp:Response with empty payload.
       
       Change History:
       21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/calls/%callId%"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="DELETE" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to release.                        
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                              
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CollaborateRoomSetClientSessionInfoRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
       This request can be used to explicitly associate the client session 
       info with the specified active Collaborate Room.  
              
       This returns a generic xsp:Response with empty payload.
       
       Change History:
       21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/clientSessionInfo?%info%"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="info" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                       This is an opaque information provided by the client for the 
                       Application Server to correlate this information with all the 
                       call sessions connected to the Collaborate Room focus. 
                       The Application Server stores this information against 
                       the call session and triggers notifications for both ends of the 
                       call session over the SIP or CTI interface.   
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                                
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CollaborateRoomUnlockRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
       This request unlocks a specified active Collaborate Room that was 
       previously locked.  Once successful, participants can join 
       the room by dialing in or using the Outgoing Dial request.  
              
       This returns a generic xsp:Response with empty payload.
       
       Change History:
       21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/unlock"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
<xs:element name="CollaborateRoomUnmuteCallRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>               
       This request unmutes a particular participant on the call. 
       When unmuted, the audio stream can again be transmitted 
       from the conference participant associated with the call 
       to the other participants.  
        
       This returns a generic xsp:Response with empty payload.
       
       Change History:
       21.0 - Added.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of the request
                  I.e. "/-context-/v2.0/user/%subscriberid%/collaborate/room/%roomid%/calls/%callId%/unmute"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subscriberid" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Collaborate Room owner.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomid" type="xsi:CollaborateRoomId">
                    <xs:annotation>
                      <xs:documentation>
                        The identification of the room.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                  
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to unmute.                        
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>                              
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

      

</xs:schema>