xsd/CTISchema/RoutePoint/CTIRoutePoint.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright © 2017 BroadSoft Inc.               -->
<!-- ********************************************************************** -->
<!-- CTIRoutePoint  X M L  S C H E M A                                      -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the Route Point Services.         -->
<!-- ********************************************************************** -->

<xs:schema xmlns="http://schema.broadsoft.com/CTI"
  targetNamespace="http://schema.broadsoft.com/CTI" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsp="http://schema.broadsoft.com/XspXMLInterface" xmlns:xsi="http://schema.broadsoft.com/xsi"
  elementFormDefault="unqualified" version="1.0">


  <xs:import namespace="http://schema.broadsoft.com/XspXMLInterface"
    schemaLocation="../../XSPXMLSchema/XspXMLInterface.xsd" />
  <xs:import namespace="http://schema.broadsoft.com/xsi"
    schemaLocation="../../XSISchema/RoutePoint/XSIRoutePoint.xsd" />


  <xs:element name="GetRoutePointRequest" substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to get the list of calls
        maintained in a Route Point queue.

        Returns a xsp:Response with xsi:RoutePointQueue.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Get Request
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointBounceCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to bounce a call queued at
        a Route Point to an agent. It is only possible 
        to bounce a call that is offered to an agent. 
        In other words only calls that have produced a Route
        Point Call Offered to Agent event but not a
        Route Point Call Answered by Agent event yet can 
        be bounced.

        Returns a generic xsp:Response with EmptyPaypoad.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Bounce Request
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/bounce"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        bounce.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointBlindTransferRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to transfer a call queued
        at a Route Point to a new
        destination.

        This returns a generic
        xsp:Response with empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePointBlindTransfer                   
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/blindtransfer?%address%"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        transfer.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="address" type="xsi:Address">
                    <xs:annotation>
                      <xs:documentation>
                        The destination address for the
                        transfer.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointDistributeCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to offer a call queued at a
        Route Point to an agent.

        Returns a generic xsp:Response with empty
        payload 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Distribute Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/distribute"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        distribute.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointDistribute" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointFailCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to mark a call queued at a
        Route Point has failed resulting in running the failed call
        policy on the call. As a result the call is sent to the
        configured failed destination immediately.
        A call cannot be failed if the call is in the 
        Route Point queue but is currently being offered to an agent.

        Returns a generic xsp:Response with Empty
        payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Fail Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/fail"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to fail.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointPlayBusyRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to play localized busy to a
        selected call in the Route Point queue.
        The duration of the busy to play can be 
        optionally specified. If the busy duration is
        provided, then the busy is discontinued when
        the time is reached. If the duration is not provided, 
        the busy is played without interruption.
        When the Play Busy request is successfully accepted
        by BroadWorks, a play-collect operation is started. A
        playCollectId is assigned to the operation and is 
        returned in the response.
        A remote application can update the busy duration by
        sending another request for the same call. The busy 
        duration will be replaced by the new specified value 
        and the playback timer will be reset to zero. The 
        original playCollectId must be specified in the
        request with the new duration. If the request is
        successfully accepted by BroadWorks the same playCollectId will
        be returned in the response.

        This request does not involve any
        topology or call state change.

        Returns a xsp:Response with
        xsi:RoutePointPlayInfo as payload.

      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Route Point Play Busy Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/playbusy"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        receive the busy.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointPlayBusy" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointPlayMOHRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to play Music On Hold (MOH)
        to a selected call in the Route Point queue.
        The MOH to be played is defined through Route Point 
        configuration.
        Digits can be collected while the MOH is being played 
        if an MGCP digit map is specified in the request. 
        However, if the MOH is played from an external source 
        to BroadWorks, no digit collection can be
        performed.
        The duration of the MOH to play can be optionally
        specified. If the duration is provided, then the MOH is
        discontinued when the time is reached. If the duration is not
        provided, the MOH is played without interruption.
        When the Play Music On Hold request is successfully 
        accepted by BroadWorks, a play-collect operation is started. 
        A playCollectId is assigned to the operation and is returned 
        in the response.
        A remote application can update the MOH duration by sending another
        request for the same call. The MOH duration will be replaced by
        the new value and the playback timer will be reset to zero. When
        extending the MOH duration no new URL or MGCP digit map can be
        specified. The original playCollectId must be specified in the
        request. If the request is successfully accepted by BroadWorks
        the same playCollectId will be returned in the response.

        This request does not involve any topology or call state change.

        Returns a generic xsp:Response with xsi:RoutePointPlayInfo.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Play MusicOnHold Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/playmusiconhold"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        receive the music on hold.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointPlayMusicOnHold" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointOutgoingDialRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to originate a call session
        from the Route Point to the specified destination.
        
        Returns a
        xsp:Response with xsi:CallStartInfo.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Outgoing Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/new"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="POST" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Route
                        Point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointOutgoingDial">
                        <xs:annotation>
                          <xs:documentation>
                            This RountPoint name and
                            Address required by Request.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointPlayRingbackRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to play localized ringback
        to a selected call in
        the Route Point queue.
        If an MGCP digit map
        is specified in the request, digits will be
        collected while the
        ringback is being played.
        The duration of the ringback to play
        can be optionally specified. If
        the ringback duration is
        provided, then the ringback is
        discontinued when the time is
        reached. If the duration is not
        provided, the ringback is played
        without interruption.
        When the Play Ringback request is
        successfully accepted by BroadWorks, a
        play-collect operation is
        started. A playCollectId is assigned
        to the operation and is
        returned in the response.
        A remote application can update the
        ringback duration by sending
        another request for the same call.
        The ringback duration will be
        replaced by the new specified value
        and the playback timer will
        be reset to zero. When extending the
        ringback duration no new
        MGCP digit map can be specified. The
        original playCollectId must
        be specified in the request with the
        new duration. If the
        request is successfully accepted by
        BroadWorks the same
        playCollectId will be returned in the
        response.
        This request does not involve any topology or call
        state change.

        This returns a xsp:Response with
        xsi:RoutePointPlayInfo
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Route Point Play RingBack Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/playringback"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        receive the ringback.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointPlayRingBack">
                        <xs:annotation>
                          <xs:documentation>
                            Carries all the information
                            required to play the localized
                            ringback to a selected call in the 
                            Route Point queue.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointPlaySilenceRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to play localized silence
        to a selected call in the Route Point queue.
        If an MGCP digit map is specified in the request, digits will be
        collected while the silence is being played.
        The duration of the silence to play can be optionally specified. 
        If the silence duration is provided, then the silence is 
        discontinued when the time is reached. If the duration is 
        not provided, the silence is played without interruption.
        When the Play Silence request is successfully
        accepted by BroadWorks, a play-collect operation is started. A
        playCollectId is assigned to the operation and is returned in the
        response.
        A remote application can update the silence duration by
        sending another request for the same call. The silence duration
        will be replaced by the new specified value and the playback
        timer will be reset to zero. When extending the silence duration
        no new MGCP digit map can be specified. The original
        playCollectId must be specified in the request with the new
        duration. If the request is successfully accepted by BroadWorks
        the same playCollectId will be returned in the response.
        
        This request does not involve any topology or call state change.

        Returns a xsp:Response with xsi:RoutePointPlayInfo as payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI Route Point Play Silence Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/playsilence"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        receive the silence.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointPlaySilence" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointPlayTreatmentRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to play a treatment to a
        selected call in the Route Point queue.
        The treatment is defined by a series of up to four 
        audio or video URL to be played sequentially. 
        This sequence can be repeated up to five times. So
        each url can be played five times resulting in a
        maximum of 20 treatments per Play Treatment request. 
        If an MGCP digit map is specified in the request, 
        digits can be collected while the treatment is being 
        played.

        This request does not involve any topology or call 
        state change.

        Returns a xsp:Response with
        xsi:RoutePointPlayInfo as payload.
                
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePointPlayTreatment request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/playtreatment"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to receive
                        treatment.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointPlayTreatment" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="RoutePointReleaseCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used by a remote application to
        release a call maintained in a Route Point queue. As a 
        result of this request, the call is removed from the Route Point queue.
        If the call session was offered to an agent, the associated call is
        also released. However, if the call was offered and answered by
        an agent, the call cannot be released by this command as the
        call is no longer in the Route Point queue.

        Returns a generic
        xsp:Response with empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Release request
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="DELETE" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        release.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyRoutePointStateRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to put an entire Route
        Point in the Failed state or Normal(Recovered) State.

        If the RoutePoint Failed request is accepted, then the Route Point
        failure policy is applied causing all calls queued in the Route
        Point to be sent to the configured failed destination. The calls
        being delivered to the failure destination are throttled by
        BroadWorks to not impact performance on the system.
        This does not apply to calls being offered to agents. These calls
        continue to be offered until bounced which then cause them to be
        routed to the failed destination with all other queued calls.
        All new calls received are forwarded to the failed destination.
        Note that calls that were answered by an agent and that are
        therefore in the Detached state at the Route Point are
        maintained at the Route Point.

        If the RoutePoint Recovered request is accepted, then all
        new calls received are no longer forwarded to the failed
        destination.
        Calls that were previously sent to the failed
        destination are not returned to the Route Point.

        This request does not involve any call state or topology 
        changes.

        Returns a generic
        xsp:Response with empty payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RPState Modify request.                 
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/profile/state"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointState" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRoutePointStateRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is access the current state of a
        RoutePoint as Failed or Normal.

        Returns a xsp:Response with xsi:RoutePointState as payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RPState GET request.                
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/profile/state"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="GET" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  
  <xs:element name="RoutePointConnectToVoiceXMLRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to offer a call queued at a
        Route Point to a VoiceXML subscriber for script execution.

        Returns a generic xsp:Response with empty
        payload 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Connect To VoiceXML Request.
                  I.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/connecttovoicexml"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the route
                        point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to
                        distribute.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload">
              <xs:complexType>
                <xs:complexContent>
                  <xs:restriction base="xsp:Payload">
                    <xs:sequence>
                      <xs:element ref="xsi:RoutePointConnectToVoiceXML" />
                    </xs:sequence>
                  </xs:restriction>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoutePointAdmitCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to admit a new call to a 
        Route Point queue.

        Returns a generic xsp:Response with empty
        payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Admit Request.
                  i.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/admit"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Route Point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to admit.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoutePointRejectCallRequest"
    substitutionGroup="xsp:payload">
    <xs:annotation>
      <xs:documentation>
        This request is used to reject a new call from being 
        added to a Route Point queue.

        Returns a generic xsp:Response with empty
        payload.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="xsp:RequestPayload">
          <xs:sequence>
            <xs:element name="uri" type="xs:anyURI">
              <xs:annotation>
                <xs:documentation>
                  The relative URI of XSI RoutePoint Call Reject Request.
                  i.e. "/-context-/v2.0/routepoint/%routepointId%/calls/%callId%/reject"
                  where -context- corresponds to the application context of the Xsi-Actions web application (e.g. com.broadsoft.xsi-actions).  
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="method" type="xs:token" fixed="PUT" />
            <xs:element name="version" type="xs:token" />            
            <xs:element name="params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="routepointId" type="xsi:SubscriberId">
                    <xs:annotation>
                      <xs:documentation>
                        The subscriberId of the Route Point.
                    </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="callId" type="xsi:CallId">
                    <xs:annotation>
                      <xs:documentation>
                        The callId of the call to reject.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="payload" type="xsp:EmptyPayload" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>